<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>

    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="main-content">

        {{!-- <div class="inner-container"> --}}

        {{>header}}

        {{!-- <p>Weather Forecast Site</p> --}}

        <form>
            <div class="inner-container"></div>

                <input placeholder="Location" />
                <button>Search</button>

                {{!-- <p id="oneline">
                    <img id="myimg">
                        <span id="message-2"></span>
                    <img id="myimg2">
                </p> --}}

                <p id="message-1"></p>
                <div class="oneline">
                    <img id="myimg">
                </div>                

                <p id="message-2"></p>
            </div>
        </form>

        {{!-- <p id="message-1"></p>
        <p id="oneline">
            <span id="myimg"></span>
                <span id="message-2"></span>
            <span id="myimg"></span>
        </p>
    </div> --}}
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>

</body>
</html>