body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    background: url(../img/road_field_horizon_mountains_clouds_sky_7843x4462.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

.inner-container{
    top: 20px;
    border: 5 px solid white;
    text-align: center;
    padding: 30px;
    border-radius: 50px;
}

#message-1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: white;
}

#message-2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: white;
}

footer {
    color: white;
    font-weight: 40px;
    border-top: 1px solid white;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}



.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}