body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    background: url(../img/road_field_horizon_mountains_clouds_sky_7843x4462.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

/* .inner-container{
    margin-top: 20%;
    border: 5 px solid white;
    text-align: center;
    padding: 30px;
    border-radius: 50px;
} */

/* form{
    margin-top: 20%;
    border: 5 px solid white;
    text-align: center;
    padding: 30px;
    border-radius: 50px;
} */

#message-1{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 50%;
    text-align: center;
    font-size: 300%;
    font-weight:500;
    color: white;
}

.oneline{
    text-align: center;
}
#myimg{
    border-radius: 50%;
    text-align: center;
}

#message-2{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 50%;
    text-align: center;
    font-size: 300%;
    font-weight:500;
    color: white;
}

footer {
    color: white;
    font-weight: 50px;
    border-top: 2px solid white;
    margin-top: 16px;
    padding: 16px 0;
}

/* header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 20%;
    margin-bottom: 48px;
} */

.header-class{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: white;
    text-align: center;
    font-size: 500%;
    font-weight:900;
    margin-top: 20%;
    margin-bottom: 48px;
}



.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 3%;
    width: 60%;
    border-radius: 50px;
}

button {
    cursor: pointer;
    border: 1px solid #000000;
    background: #000000;
    color: white;
    padding: 3%;
    border-radius: 50px;
    width: 25%;
}

button:hover{
    border: 1px solid #686565;
    background: #686565;
    color: rgb(255, 255, 255);
}